html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  
  background-color: black;
}

body {
  overflow: hidden;
  
  // Just testing
  font-family: helvetica;
  font-weight: bold;
  color: #DDBB77;
  
  &.debug {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
                    linear-gradient(-45deg, #808080 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #808080 75%),
                    linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    
    :nth-child(1) {
      background-color: rgba(200, 0, 0, 0.7);
    }

    :nth-child(2) {
      background-color: rgba(0, 200, 0, 0.7);
    }

    :nth-child(3) {
      background-color: rgba(0, 0, 200, 0.7);
    }
  }
  
  
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;

  // Sensible?
  transition: opacity 1s linear;
  opacity: 0;

  &.old {
    z-index: 1;
    //opacity: 1;
    transition-delay: 1s linear;
    //transition-duration: 0s;
  }

  &.active {
    z-index: 2;
    opacity: 1;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  flex: 1 0px;

  &.vertical {
    flex-direction: column;
    
    &>* {
      width: 100%;
    }
  }

  &.horizontal {
    flex-direction: row;
    
    &>* {
      height: 100%;
    }
  }
  
  &>.content:not(.plugin) {
    min-height: 100%;
    
    &>img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%
    }
  }
}

.auto {
  /* one flex, no grow? */
  flex: 1 0px;
}

.content {
  
  position: relative;
  //height: inherit;
  //width: inherit;

  //display: flex;
  //justify-content: center;
  //align-items: center;

  // Maybe optimizes things
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  will-change: opacity;

  

  img, video {
    display: block;
    margin: auto;

    &.distort {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }

    &.fit {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  // Fun times
  &.playlist {
    // Start out dark
    background-color: black;

    .playlist-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;

      z-index: -1;
      opacity: 0;
      transition: opacity 1s linear;

      &.old {
        // Stick around until we're done with you
        opacity: 0;
        z-index: 1;
        background-color: black;
      }

      &.active {
        opacity: 1;
        // You, to the front!
        z-index: 2;
      }

      // Maybe optimizes things
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      will-change: opacity;
    }
    
  }
}

// Plugins
div.plugin {
  &[data-plugin="OpenWeatherMap"] {
    background-color: #00274c;
    height: 10em;
    width: 32em;

    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    img {
      height: 64px;
      width: 64px;
      margin: 0;
    }

    &.superwide {
      width: 100%;
    }
  }

  &[data-plugin="Clock"] {
    background-color: #ffcb05;
    color: #00274c;
    text-align: center;
    
    height: 100%;
    min-height: 8em;
  
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    
    }

    &>div {
      padding: 1em;
      
      .top {
        font-size: 2em;
        margin-top: auto;
      }
    
      .bottom {
        margin-bottom: auto;
      }
    }

    
  }
}

// XXX TODO investigate this issue
.container.vertical div.plugin[data-plugin="Clock"] {
  margin-top: 6em;
}