<template>
  <div class="container-fluid">
    <h4>Player Info - {{ player.name }}</h4>

    <div class="form-inline mb-3">
      <label class="col-md-2 col-4">Name</label>
      <input class="form-control col-md-4 col-8" type="text" v-model="player.name" />

      <label class="col-md-2 col-4">Hostname</label>
      <input class="form-control col-md-4 col-8" type="text" v-model="player.hostname" />
    </div>

    <div class="form-inline mb-3">
      <label class="col-md-2 col-sm-4 col-6">SSH Key</label>
      <button class="col-md-2 col-sm-4 col-6 btn btn-outline-warning" v-on:click="rekey">
        <i class="float-left fas fa-unlock-alt"></i>
        
        <i v-show="rekeying" class="float-right fas fa-cog fa-spin "></i>
        <span>Rekey</span>
      </button>
      
      <div class="input-group col-md-8 col-sm-8 col-12">
        <input id="key" type="text" class="form-control " readonly v-model="player.publicKey" v-on:click="selectKey">
        <div class="input-group-append">
          <button class="btn btn-primary" v-on:click="copyKey">
            <i class="fas fa-copy"></i>
            Copy
          </button>
        </div>
      </div>
    </div>

    <h4>Available Layouts</h4>

    <table class="table table-striped" v-if="layoutList.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Go To</th>
          <th>Use?</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="layout in layoutList">
          <td>{{ layout.name }}</td>
          <td>
            <router-link as="button" class="btn btn-outline-primary" :to="'/layouts/' + layout.id">Go To</router-link>
          </td>
          <td>
            <bootstrap-toggle v-model="layout.use" :options="{ on: 'Yes', off: 'No' }"></bootstrap-toggle>
          </td>
        </tr>
      </tbody>
    </table>

    <p v-else>No layouts have been created yet</p>

    <button
      class="btn"
      :class="deployClass"
      v-on:click="deploy"
      :disabled="!statusMap[player.lastStatus].ok"
    >
      <i class="fas fa-upload"></i>
      {{ saveMessage || 'Deploy' }}
    </button>    

    <button class="btn btn-primary" :class="saveClass" v-on:click="save">
      <i class="fas fa-save"></i>
      {{ saveMessage || 'Save' }}
    </button>

  </div>
  
</template>

<script>
  
  module.exports.components = {
    BootstrapToggle: require('vue-bootstrap-toggle')
  }

  let computed = module.exports.computed = {};

  computed.layouts = function() {
    return this.layoutList.filter(l => l.use).map(l => l.id);
  }

  module.exports.data = () => ({
    player: {},

    layoutList: [],

    rekeying: false,
    saveMessage: '',
    saveClass: '',
    deployMessage: '',
    deployClass: '',

    statusMap: require('./statusMap')
  })
  
  module.exports.mounted = async function() {
    await this.reload();
  }

  
  let methods = module.exports.methods = {};
  
  methods.reload = async function() {
    let data = (await this.$http.get('/api/player/' + this.$route.params.id)).body;
    this.player = data.player;
    this.layoutList = (await this.$http.get('/api/layout')).body;

    for (let layout of this.layoutList) {
      if (data.layouts.includes(layout.id))
        layout.use = true;
    }

    // Update deploy class if we can't talk to the player
    if (!this.statusMap[this.player.lastStatus].ok)
      this.deployClass = 'btn-outline-danger';
    else
      this.deployClass = 'btn-primary';
  }

  methods.rekey = async function() {
    this.rekeying = true;

    let res = await this.$http.post('/api/player/' + this.$route.params.id  + '/rekey')
      .catch(err => {
        this.rekeying = false;
        alert(err.body.message);
        throw err;
      })

    this.rekeying = false;

    if (res.body.error) {
      return alert(res.body.error.message);
    }

    this.player.publicKey = res.body.publicKey;
  }

  methods.save = async function() {
    try {
      this.saveMessage = 'Saving...';
      this.saveClass = 'btn-warning';

      let res = await this.$http.post('/api/player/' + this.$route.params.id, {
        name: this.player.name,
        hostname: this.player.hostname,
        layouts: this.layouts
      });

      this.saveMessage = res.body.message;
      this.saveClass = 'btn-success';
    } catch (e) {
      this.saveMessage = 'FAILED';
      this.saveClass = 'btn-danger';
    }
  }

  methods.deploy = async function() {
    try {
      this.deployMessage = 'Deploying...';
      this.deployClass = 'btn-warning';

      let res = await this.$http.post('/api/player/' + this.$route.params.id + '/deploy');

      this.deployMessage = 'Deployed';
      this.deployClass = 'btn-success';
    } catch (e) {
      this.deployMessage = 'Failed';
      this.deployClass = 'btn-danger';

      console.error(e.stack);
    }
  }
  
  // Some fast-click action
  methods.selectKey = function(event) {
    document.getElementById('key').select();
  }
  
  methods.copyKey = function(event) {
    document.getElementById('key').select();
    document.execCommand('copy');
    debugger;
  }
  
</script>