<template>
  <div class="container-fluid">
    <h4>Players</h4>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>
            Status
            <i v-if="statusRefresh" class="fas fa-sync fa-spin"></i>
          </th>
          <th>Edit</th>
          <th>Deploy</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <tr v-for="player in players">
          <td>{{ player.id }}</td>
          <td>{{ player.name }}</td>
          <!-- TODO elaborate with colors -->
          <td :class="getStatusInfo(player.lastStatus).class">
            {{ getStatusInfo(player.lastStatus).text || player.lastStatus }}
          </td>
          <td>
            <router-link as="button" class="btn btn-outline-primary" :to="'/players/' + player.id">
              <i class="fas fa-edit"></i>
              Edit
            </router-link>
          </td>
          <td>
            <button
              class="btn"
              :class="player.deployClass" :disabled="!getStatusInfo(player.lastStatus).ok || player.deploying"
              v-on:click="deploy(player)"
              style="width: 140px"
            >
              <i class="fas fa-upload" style="float: left; line-height: 1.5"></i>
              <span>{{ player.deployText || 'Deploy' }}</span>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" @click="deletePlayer(player)">
              <i class="fas fa-trash-alt"></i>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button class="btn btn-primary" v-on:click="createPlayer">
      <i class="fas fa-plus-circle"></i>
      Create New Player
    </button>
  </div>
</template>

<script>

  module.exports.data = () => ({
    players: [],
    statusMap: require('./statusMap'),
    statusRefresh: true
  });

  module.exports.mounted = function() {
    this.reload();
  }

  let methods = module.exports.methods = {};
  
  methods.getStatusInfo = function(status) {
    if (this.statusMap.hasOwnProperty(status))
      return this.statusMap[status];
    
    return {
      class: '',
      OK: false,
      text: status
    };
  }

  methods.reload = async function() {
    let res = await this.$http.get('/api/player')
    let players = res.body;

    for (let id in players) {
      let player = players[id];

      player.deployText = 'Deploy';
      player.deployClass = this.statusMap[player.lastStatus].ok ? 'btn-primary' : 'btn-outline-danger';
      player.deploying = false;
    }

    this.players = players;

    // Also get the status, but separately
    this.$http.get('/api/player/status').then(statuses => {
      for (let id in statuses.body) {
        this.players[id].status = statuses.body[id];
      }
      this.statusRefresh = false;
    })
  }
  
  methods.createPlayer = async function() {
    let newPlayer = (await this.$http.post('/api/player/create')).body;
    
    // Open it up right away
    this.$router.push('/players/' + newPlayer.id);
  }
  
  methods.deploy = async function(player) {
    try {
      player.deploying = true;
      player.deployText = 'Deploying...';
      player.deployClass = 'btn-warning';
      
      let res = await this.$http.post('/api/player/' + player.id + '/deploy');
      
      console.log(res.body);
      
      player.deploying = false;
      player.deployText = 'Deployed';
      player.deployClass = 'btn-success';
    } catch (e) {
      player.deploying = false;
      player.deployText = 'Failed';
      player.deployClass = 'btn-danger';
      
      console.error(e.stack);
    }
  }
  
  methods.deletePlayer = async function(player) {
    if (confirm('Are you sure you wish to delete the player "' + player.name + '"?')) {
      let res = await this.$http.delete('/api/player/' + player.id)
      
      await this.reload();
    }
    
  }

</script>