<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="login.less" />
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

    <script src="/lib/less.min.js"></script>
    <script src="/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid d-flex h-100">
      
      
      <div class="row align-self-center w-100">
        <div class="col-md-4 offset-md-4 offset-sm-2 col-sm-8">
          <div class="card">
            <h4 class="card-title">Login</h4>
            
            <form action="/login" method="POST">
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" />
              </div>
              
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
              </div>
              
              <button id="login" class="form-control btn btn-primary">Login</button>
            </form>
            
            {% if message %}
              <br />
              <div class="alert alert-warning" role="alert">Invalid login</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>