{# To be included in other pages #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JEDi Signage</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="nav-main">
    <ul class="navbar-nav mr-auto">
      {% for loc in navLocations %}
        <li class="nav-item {{ loc.classes | join(' ') }}">
          <a class="nav-link" href="{{ loc.href }}">{{ loc.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>