<!DOCTYPE html>
<html>
  <head>
    <title>JEDi Signage</title>
    <link rel="stylesheet/less" type="text/css" href="/playerlib/style.less" />
    <script src="/playerlib/less.min.js" type="text/javascript"></script>
    <script src="/playerlib/nunjucks.js" type="text/javascript"></script>
    <script src="/playerlib/EventEmitter.js"></script>
    <script src="/playerlib/moment.js"></script>
    <script src="/playerlib/plugins.js"></script>
    <script src="/playerlib/parseDuration.js"></script>
    <script src="/playerlib/playlist.js"></script>
    <script>
      // setup nunjucks
      let nje = nunjucks.configure('/playerlib/templates', {

      });

      nje.addFilter('json', o => JSON.stringify(o, null, 2))
    </script>
  </head>
  <body id="player-root">
    <!-- Effectively, this bit of datacode is all that the server would generate -->
    {% for layout in layouts %}
{{ layout.body | safe }}
    {% endfor %}
    <!-- End of datacode -->
  </body>
</html>