{# To be extended by others #}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    {% block styles %}{% endblock %}

    <script src="/lib/less.min.js"></script>
    <script src="/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include "menu.njk" %}
  </body>
</html>