html, body {
  height: 100%;
}

#app {
  min-height: 100%;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  
  // Set by document.body
  &.active {
    pointer-events: auto;
  }

  &.hover {
    background-color: red;
  }
}

/* Bootstrap Toggle v2.2.2 corrections for Bootstrap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
