<template>
  <div class="container-fluid">
    <h4>Editing user <kbd>{{ user.username }}</kbd></h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Role</th>
          <th>Description</th>
          <th>Assigned</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>All</td>
          <td>User can perform all tasks below</td>
          <td>
            <bootstrap-toggle v-model="allPermissions"></bootstrap-toggle>
          </td>
        </tr>

        <tr v-for="role in roles">
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>
            <bootstrap-toggle v-model="user[role.key]"></bootstrap-toggle>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" :class="saveClass" v-on:click="save">{{ saveMessage }}</button>

    <div class="form-inline">
      <label class="col-md-3 col-sm-4 col-6">Reset password</label>
      <input type="password" class="form-control col-sm-6 col-6" v-model="newPassword" placeholder="password">
      <div class="col-sm-2 col-12">
        <button class="btn btn-warning" style="width: 100%" v-on:click="passwordReset">Reset</button>
      </div>
    </div>
  </div>
</template>

<script>

  module.exports.components = {
    BootstrapToggle: require('vue-bootstrap-toggle')
  }

  module.exports.data = () => ({
    user: {},
    //allPermissions: false,
    updating: false,
    newPassword: '',
    roles: [
      { name: 'Media',        description: 'Create and edit media items',     key: 'roleMedia'    },
      { name: 'Players',      description: 'Create, edit and rekey players',  key: 'rolePlayer'   },
      { name: 'Layout',       description: 'Create, edit and assign layouts', key: 'roleLayout'   },
      { name: 'Manage Users', description: 'Create users, edit permissions and reset passwords', key: 'roleEditUsers'}
    ],

    saveMessage: 'Save',
    saveClass: ''
  })

  let computed = module.exports.computed = {};

  computed.allPermissions = {
    get: function() {
      // Small latch since vue-bootstrap-toggle immediately fires input on model change :S
      this.updating = true;
      this.$nextTick(() => this.updating = false)
      return this.roles.map(r => this.user[r.key]).every(l => l);
    },
    set: function(val) {
      if (this.updating) return;

      for (let role of this.roles) {
        this.user[role.key] = val;
      }
    }
  }

  module.exports.mounted = async function() {
    await this.reload();
  }

  let methods = module.exports.methods = {};

  methods.reload = async function() {
    this.user = (await this.$http.get('/api/user/' + this.$route.params.id)).body;
  }

  methods.save = async function() {
    this.saveClass = 'btn-warning';
    this.saveMessage = 'Saving...';

    let res = await this.$http.post('/api/user/' + this.$route.params.id, 
      this.user
    ).catch(err => {
      alert(err.body.message);
      throw err;
    });

    if (res.body.error) {
      this.saveMessage = res.error.message;
      this.saveClass = 'btn-danger';
      return;
    }

    // TODO post message

    await this.reload();

    this.saveClass = 'btn-success';
    this.saveMessage = 'Saved';
  }

  methods.passwordReset = async function() {
    let res = await this.$http.post('/api/user/' + this.$route.params.id + '/password', {
      password: this.newPassword
    }).catch(err => {
      alert(err.body.message);
      throw err;
    });

    if (res.body.error) {
      alert(res.error.message);
      return;
    }

    // TODO post message

    await this.reload();
  }

</script>