<template>
  <div class="container-fluid">
    <h4>User Management</h4>

    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Username</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Remove</th>
      </thead>

      <tbody>
        <tr v-for="user in users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ calcRoleString(user) }}</td>
          <td>
            <button class="btn btn-outline-primary" v-on:click="editUser(user)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" v-on:click="removeUser(user)" :disabled="user.username === 'admin'">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success" v-on:click="addUser">
      <i class="fas fa-plus-circle"></i>
      Create New User
    </button>
  </div>
</template>

<script>
  
  module.exports.data = () => ({
    users: []
  })
  
  module.exports.mounted = async function() {
    await this.reload();
  }

  let methods = module.exports.methods = {};

  methods.reload = async function() {
    this.users = (await this.$http.get('/api/user')).body;
  }

  methods.calcRoleString = function(user) {
    if (
      user.roleMedia &&
      user.rolePlayer &&
      user.roleLayout &&
      user.roleEditUsers)
      return 'Everything';

    let s = [];
    if (user.roleMedia) s.push('Media');
    if (user.rolePlayer) s.push('Players');
    if (user.roleLayout) s.push('Layouts');
    if (user.roleEditUsers) s.push('Users');
    if (s.length === 0) s.push('None');
    return s.join(', ');
  }

  methods.addUser = async function() {
    // XXX
    let username = prompt('Enter name for new user');

    let res = await this.$http.post('/api/user/create', {
      username
    }).catch(e => {
      // XXX
      alert(e.body.message);
    });

    if (res.body.error) {
      // XXX
      return alert(res.body.error.message);
    }

    let id = res.body.id;

    this.$router.push('/users/' + id);
  }

  methods.editUser = function(user) {
    this.$router.push('/users/' + user.id);
  }

  methods.removeUser = async function(user) {
    // XXX
    if (confirm('Are you sure?')) {
      let res = (await this.$http.post('/api/user/' + user.id + '/deactivate')).body;

      if (res.error) {
        alert(res.error.message);
      }

      await this.reload();
    }
  }

</script>