<template>
  <div class="container-fluid wrapper">

    <!-- 10 cent layout editor layout scheme -->
    <div class="row">
      <!-- Media tree -->
      <div class="mediaTree col-lg-6 col-12">
        <h5>Media</h5>
        
        <jedi-tree
          ref="media"
          class="table-sm"
          v-bind:data="media"
          item-datatype="x-application/media"
          prevent-inner-dragging
        ></jedi-tree>
      </div>

      <!-- Layout tree -->
      <div class="layoutTree col-lg-6 col-12">
        <h5>Layout Tree</h5>
        
        <jedi-tree
          ref="layout"
          class="table-sm"
          v-bind:data="layout"
          v-on:item-drop="onLayoutItemDrop"
          v-on:properties="showProperties"
          v-on:removeFromLayout="removeFromLayout"
          v-on:save="save"
          default-open
          ordered
          v-on:swapId="onLayoutSwapId"
          :hilight="selected.id"
        ></jedi-tree>
        
        <button class="btn btn-default" data-toggle="modal" data-target="#preview-modal">Preview</button>
      </div>

      <!-- "Widgetry" -->
      <div class="widgetTree col-lg-6 col-12">
        <h5>Widgets</h5>
        <table class="table table-striped table-sm">
          <thead>
            <th>Name</th>
            <th>Description</th>
          </thead>

          <tbody>
            <tr
              v-for="(widget, key) of widgets"
              draggable
              :data-type="key"
              v-on:dragstart="widgetDragStart($event)"
              v-if="widget.available"
            >
              <td>{{ widget.name }}</td>
              <td>{{ widget.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="properties col-lg-6 col-12">
        <!-- Show prompt based on type of clicked item -->
        
        <template v-if="selected.type !== 'none'">
          <h5>Properties - {{ selected.name }}</h5>
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <input type="text" class="form-control col-sm-10" v-model="selected.name">
          </div>
          
          <!-- This section is much to hacky, redo -->
          <div v-if="selectedProperties">
            
            <div v-for="(property, key) in selectedProperties" :title="property.description">

              <h5>{{ property.name }}</h5>
              
              <div v-if="property.type === 'number'" class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">{{ property.name }}</label>
                <input type="number" class="form-control col-sm-4" v-model.number="selected.properties[key]">
              </div>
              
              <div v-else-if="property.type === 'checkbox'" class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">{{ property.name }}</label>
                
                <!--<bootstrap-toggle v-model="selected.properties[key]"></bootstrap-toggle>-->
                <jedi-toggle v-model="selected.properties[key]"></jedi-toggle>
              </div>
              
              <div v-else-if="property.type === 'duration'" class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">{{ property.name }}</label>
                
                <jedi-duration v-model.number="selected.properties[key]" minutes seconds></jedi-duration>
              </div>

              <div v-else-if="property.type === 'radio'" class="btn-group btn-group-toggle mb-3">
                <label class="btn btn-secondary" :class="{active: value === selected.properties[key]}" v-for="(text, value) in property.values">
                  <input type="radio" :name="selected.id + key" :value="value" v-model="selected.properties[key]" :checked="value === selected.properties[key]">{{ text }}
                </label>
              </div>

              <jedi-schedule 
                v-else-if="property.type === 'schedule'"
                v-model="selected.schedule"
                dates times days
              >

              </jedi-schedule>
                
              <template v-else>
                Oops, can't handle the {{ property.name }} of {{ property.type }}!
              </template>
            </div>
          </div>
          
          
        </template>
        <template v-else>
          <!-- Nothing selected, edit layout itself -->

          <!-- For now, notes! -->
          <h5>Layout Editor</h5>
          <p>You do things by dragging items from the left menus to the tree above this</p>

        </template>
      </div>
    </div>
    
    <!-- Preview iframe -->
    <div id="preview-modal" class="modal" role="dialog">
      <div class="modal-dialog" role="document" style="width: 75%; max-width: unset">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Preview</h5>
            
            <div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Open in new window" v-on:click="openPreviewWindow" title="Open preview in a new window">
                <i class="fas fa-external-link-alt"></i>
              </button>
                            
            </div>
          </div>
          
          <div class="modal-body" style="position: relative; padding-top: 56.25%">
            <iframe
              id="preview"
              :src="'/api/layout/' + layoutId + '/build'"
              style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
  .wrapper {
    background-color: #f0f;
    position: absolute;
    top: 56px;
    bottom: 0;

    &>.row {
      height: 50%;
      border: 1px solid gray;
    }
  }

  .mediaTree, .layoutTree, .widgetTree, .properties {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid gray;
  }

  // Debugging
  .mediaTree { background-color: #faa; }
  .layoutTree { background-color: #afa; }
  .widgetTree { background-color: #aaf; }
  .properties { background-color: #aaa; }

</style>

<script>

  module.exports.data = () => ({
    layoutId: -1,
    media: {},
    layout: { folders: {}, items: {} },
    selected: {type: 'none'},
    widgets: {
      // Define all our node types here
      root: {
        name: '[ROOT NODE]',
        description: '[ROOT NODE]',
        available: false,
        defaultName: 'Layout',
        leaf: false,
        validChildren: [
          'divHorizon',
          'divVertical',
          'playlist',
          'media',
          'weather',
          'clock'
        ],
        maxLeaves: 1,
        noMixedNodes: true,
        
        properties: {
          duration: {
            name: 'Duration',
            type: 'number',
            description: 'Minimum duration (seconds) for layout to be displayed. 0 is proceed immediately when children ready.',
            default: 10
          }
        }
      },
      divHorizon: {
        name: 'Horizontal Divider',
        description: 'Divides a region into columns',
        available: true,
        defaultName: 'Horizontal Divider',
        leaf: false,
        validChildren: [
          'divVertical',
          'playlist',
          'media',
          'weather',
          'clock'
        ],
        maxLeaves: 4,
        
        childProperties: {
          spaceShare: {
            type: 'number',
            default: 1,
            name: 'Space Share',
            description: 'How many shares of the parent divider to use. 0 is fixed-width.'
          }
        }
      },
      divVertical: {
        name: 'Vertical Divider',
        description: 'Divides a region into rows',
        available: true,
        defaultName: 'Vertical Divider',
        leaf: false,
        validChildren: [
          'divHorizon',
          'playlist',
          'media',
          'weather',
          'clock'
        ],
        maxLeaves: 4,
        
        childProperties: {
          spaceShare: {
            type: 'number',
            default: 1,
            name: 'Space Share',
            description: 'How many shares of the parent divider to use. 0 is fixed-height.'
          }
        }
      },
      playlist: {
        name: 'Playlist',
        description: 'Schedules Media Items to play in sequence',
        available: true,
        defaultName: 'Playlist',
        leaf: false,
        validChildren: [
          'media'
        ],
        
        properties: {
          defaultDuration: {
            name: 'Default Item Duration',
            type: 'duration',
            description: 'Default for items in this playlist, overrides item default',
            default: 0
          },
          
          blockLayout: {
            name: 'Block layout',
            type: 'checkbox',
            default: true,
            description: 'If true, the layout will not proceed until this playlist has gone through at least once'
          }
        },
        
        childProperties: {
          schedule: {
            name: 'Schedule',
            type: 'schedule',
            description: 'When to show this item. Overrides Media Item schedule',
            default: null
          },
          duration: {
            name: 'Item Duration',
            type: 'duration',
            description: 'Default for this item, overrides all defaults',
            default: 0
          }
        }
      },
      media: {
        name: 'Media Item',
        description: 'An instance of a Media Item',
        available: false,
        defaultName: '[MEDIA ITEM]',
        leaf: true,
        
        properties: {
          scaling: {
            name: 'Scaling',
            description: 'How to resize the item to fit its allocated space',
            type: 'radio',
            values: {
              none: 'No Scaling',
              fit: 'Fit',
              distort: 'Stretch'
            },
            default: 'No Scaling'
          }
        }
      },
      weather: {
        name: 'Weather',
        description: 'Displays the next 3 days of weather',
        available: true,
        defaultName: 'Weather Widget',
        leaf: true
      },
      clock: {
        name: 'Clock',
        description: 'Displays the current date and time',
        available: true,
        defaultName: 'Clock Widget',
        leaf: true
      }
    }
  })

  module.exports.beforeMount = function() {
    this.layoutId = this.$route.params.id;
  }

  module.exports.mounted = async function() {
    await this.reload();
    
    // Tell navbar to show some buttons
    this.$emit('navButtons', [
      {
        icon: 'fa-upload',
        class: 'btn-primary',
        text: 'Deploy to All',
        action: 'deployAll'
      }
    ])
  }
  
  let computed = module.exports.computed = {};
  
  computed.selectedProperties = function() {
    if (this.selected.type === 'none') return false;
    
    try {
      let ret = {};

      let parent = this.layout.folders[this.selected.parent] || this.layout.items[this.selected.parent] || this.layout.folders[1];
      let parentProto = this.widgets[parent.typeName];
      
      let parentCount = Object.keys(parentProto.childProperties || {}).length
      if (parentCount > 0) {
        Object.assign(ret, parentProto.childProperties);
      }

      let proto = this.widgets[this.selected.typeName];
      
      let count = Object.keys(proto.properties || {}).length
      if (count > 0) {
        Object.assign(ret, proto.properties);
      }
      
      if (parentCount + count === 0) return false;
      
      console.log(ret);
      
      return ret;
    } catch (e) {
      console.error(e);
      return false;
    }
  }

  let methods = module.exports.methods = {};

  methods.reload = async function() {
    let media = await this.$http.get('/api/media');
    let layout = await this.$http.get('/api/layout/' + this.$route.params.id);

    this.media = {
      root: media,
      columns: [
        { key: 'name', header: 'Name', expand: true}
      ],
      folders: media.body.folders,
      items: media.body.items
    }

    let folders = {};
    let items = {};
    for (let nid in layout.body) {
      let node = layout.body[nid];
      let proto = this.widgets[node.typeName];

      if (proto.leaf) {
        items[nid] = node;
        node.type = 'file';
      } else {
        folders[nid] = node;
        node.type = 'folder';
      }

      Object.assign(node, {
        actionIcon: 'fa-trash-alt',
        actionText: 'Remove',
        action: 'removeFromLayout',
        actionClass: 'btn-outline-danger'
      })

      if (node.typeName === 'root') {
        Object.assign(node, {
          actionIcon: 'fa-save',
          actionText: 'Save',
          action: 'save',
          actionClass: 'btn-success',
        });
      }
      
      // Ensure our properties match our current prototypes
      let protoProps = this.widgets[node.typeName].properties;
      let parentProtoProps = node.parent ? this.widgets[layout.body[node.parent].typeName].childProperties : {}
      
      for (let key in parentProtoProps) {
        if (!node.properties.hasOwnProperty(key))
          node.properties[key] = parentProtoProps[key].default;
      }
      
      for (let key in protoProps) {
        if (!node.properties.hasOwnProperty(key))
          node.properties[key] = protoProps[key].default;
      }
    }

    this.layout = {
      columns: [
        { key: 'typeName', header: 'Type', expand: true},
        { key: 'name', header: 'Name' },
        { special: 'button', header: 'Properties', text: 'Edit', icon: 'fa-edit', action: 'properties', btnClass: 'btn-sm btn-outline-primary' },
        { special: 'button', header: '', textKey: 'actionText', iconKey: 'actionIcon', actionKey: 'action', btnClass: 'btn-sm', btnClassKey: 'actionClass' }
      ],
      folders,
      items
    }
  }
  
  methods.openPreviewWindow = function() {
    let w = Math.floor(window.screen.availWidth * 0.8);
    let h = Math.floor(w * 9 / 16);
    let features = [
      'width=' + w,
      'height=' + h,
      'menubar=no',
      'location=no',
      'scrollbars=no',
      'status=no'
    ].join(',')
    
    console.log('Opening preview window with %s', features)
    
    open('/api/layout/' + this.$route.params.id + '/build', 'Layout Preview', features)
  }

  methods.onLayoutSwapId = function(first, second) {
    // Swap ids on these two
    let firstContainer = this.layout.folders.hasOwnProperty(first) ? this.layout.folders : this.layout.items;

    let secondContainer = this.layout.folders.hasOwnProperty(second) ? this.layout.folders : this.layout.items;

    let alpha = firstContainer[first];
    let bravo = secondContainer[second];
    console.log(alpha.name, '<==>', bravo.name);

    // Set new ID on instances
    alpha.id = second;
    bravo.id = first;

    // Remove old
    delete firstContainer[first];
    delete secondContainer[second];

    // Make new
    firstContainer[second] = alpha;
    secondContainer[first] = bravo;
  }

  methods.widgetDragStart = function(evt) {
    let dt = evt.dataTransfer;
    let type = evt.target.dataset.type;
    
    dt.setData('x-application/widget', type);
  }

  methods.onLayoutItemDrop = function(target, dt) {
    // Start multiplexing
    let item, type, proto;
    let parentProto = this.widgets[target.typeName];
    
    // Can't add to a non-folder
    if (parentProto.leaf)
      return;
    
    if (dt.types.includes('x-application/media')) {
      // Media item
      type = 'media';
      proto = this.widgets[type];
      let mediaItem = this.media.items[dt.getData('x-application/media')];

      item = {
        type: proto.leaf ? 'file' : 'folder',
        name: mediaItem.name,
        typeName: type,
        parent: target.id,
        parentTypeName: target.typeName,
        
        actionIcon: 'fa-trash-alt',
        actionText: 'Remove',
        action: 'removeFromLayout',
        actionClass: 'btn-outline-danger',
        
        properties: { mediaItemId: mediaItem.id }
      }
    } else if (dt.types.includes('x-application/widget')) {
      type = dt.getData('x-application/widget');
      proto = this.widgets[type];
      
      if (!parentProto.validChildren.includes(type)) {
        // Can't take them
        console.log('Invalid parent');
        return;
      }
      
      // Ezpz
      item = {
        type: proto.leaf ? 'file' : 'folder',
        name: proto.defaultName,
        typeName: type,
        parent: target.id,
        parentTypeName: target.typeName,
        
        actionIcon: 'fa-trash-alt',
        actionText: 'Remove',
        action: 'removeFromLayout',
        actionClass: 'btn-outline-danger',
        
        properties: {}
      }
      
    } else {
      alert('nope');
      return;
    }
    
    // Do properties
    for (let key in parentProto.childProperties) {
      item.properties[key] = parentProto.childProperties[key].default;
    }
    
    for (let key in proto.properties) {
      item.properties[key] = proto.properties[key].default;
    }
    
    
    if (!parentProto.validChildren.includes(type)) {
      // Can't take them
      console.log('Invalid parent');
      return;
    }
    
    
    
    // Give everything a unique id and route to appropriate container
    let container = proto.leaf ? this.layout.items : this.layout.folders;
    let existing = Object.values(this.layout.items).concat(Object.values(this.layout.folders)).map(i => i.id);
    let id = existing.reduce((acc, next) => Math.max(acc, next), 0) + 1
    item.id = id;
    container[id] = item;
    
    console.log('Adding %s as %s', item.name, id);
  }
  
  methods.showProperties = function(item) {
    let id = item.id;
    let container = item.type === 'folder' ? this.layout.folders : this.layout.items;
    let authoritative = container[id];
    this.selected = authoritative;
  }
  
  methods.save = async function() {
    function sanitize(obj) {
      // Cleanup the object a bit, just to reduce noise (others would be ignored by server anyway)
      return {
        id: obj.id,
        name: obj.name,
        type: obj.typeName,
        parent: obj.parent,
        schedule: obj.schedule, // Only applies to playlist items
        properties: obj.properties
      }
    }
    
    let concat = {};
    for (let id in this.layout.folders)
      concat[id] = sanitize(this.layout.folders[id]);
    
    for (let id in this.layout.items)
      concat[id] = sanitize(this.layout.items[id]);
    
    let res = await this.$http.post('/api/layout/' + this.$route.params.id + '/save', concat);
    
    
    // Reload preview
    document.getElementById('preview').contentDocument.location.reload();
  }
  
  methods.deployAll = async function() {
    // Tell the server to deploy everyplayer
    
    // With progress
    this.$emit('navButtons', [
      {
        icon: 'fa-upload',
        class: 'btn-warning',
        text: 'Deploying...',
        action: 'deployAll'
      }
    ])
    
    let res = await this.$http.post('/api/layout/' + this.$route.params.id + '/deployAll');
    
    console.log(res.body);
    
    if (res.body.error) {
      this.$emit('navButtons', [
        {
          icon: 'fa-upload',
          class: 'btn-danger',
          text: 'Failed',
          action: 'deployAll'
        }
      ])
    } else {
      this.$emit('navButtons', [
        {
          icon: 'fa-upload',
          class: 'btn-success',
          text: 'Deployed',
          action: 'deployAll'
        }
      ])
    }
  }
  
  methods.removeFromLayout = function(item, top = true) {
    if (item.type === 'folder' && item.id === 1) {
      // Don't delete root folder
      return;
    }
    
    let container = item.type === 'folder' ? this.layout.folders : this.layout.items;
    
    // And the children too
    if (item.type === 'folder') {
      for (let sub of Object.values(this.layout.folders)) {
        if (sub.parent === item.id)
          this.removeFromLayout(sub, false);
      }
      
      for (let sub of Object.values(this.layout.items)) {
        if (sub.parent === item.id)
          this.removeFromLayout(sub, false);
      }
    }
    
    delete container[item.id];
    
    this.refreshLayout(false);
  }
  
  methods.refreshLayout = function() {
    this.$refs.layout.flatten();
  }

</script>