<template>
  <div class="container-fluid">
    <h4>Layouts</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Used In</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <tr v-for="layout in layouts">
          <td>{{ layout.id }}</td>
          <td>{{ layout.name }}</td>
          <td>{{ layout.usedIn }}</td>
          <td>
            <router-link as="button" class="btn btn-outline-primary" :to="'/layouts/' + layout.id">Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click="deleteLayout(layout)">
              <i class="fas fa-trash-alt"></i>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button class="btn btn-success" v-on:click="createLayout">
      <i class="fas fa-plus-circle"></i>
      Create New Layout
    </button>
  </div>
</template>

<script>
  
  module.exports.data = () => ({
    layouts: []
  });

  module.exports.mounted = function() {
    this.reload();
  }

  let methods = module.exports.methods = {};

  methods.reload = async function() {
    this.layouts = (await this.$http.get('/api/layout')).body;
  }
  
  methods.createLayout = async function() {
    // XXX
    let name = prompt('Name for layout');

    let newLayout = (await this.$http.post('/api/layout/create', {
      name
    })).body;
    
    // Open it up right away
    this.$router.push('/layouts/' + newLayout.id);
  }

  methods.deleteLayout = async function(layout) {
    if (confirm('Are you sure you wish to delete this layout?')) {
      try {
        let res = await this.$http.delete('/api/layout/' + layout.id);
      } catch (e) {
        alert('Failed to delete the layout');
        console.log(e);
      }
      
      await this.reload();
    }
  }

</script>