<template>
  <div class="container-fluid">
    <div v-if="error">
      <h4>Media Info - Error</h4>
      <pre>{{ error }}</pre>
    </div>

    <h4 v-else-if="!item">Media Info - loading</h4>

    

    <form v-else>
      <div class="row">
        <div class="col-md-4">
          <h4>Media Info</h4>

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="item.name" />
          </div>
          
          <div class="form-group">
            <label>Filename</label>
            <input type="text" class="form-control" v-model="item.originalName" />
          </div>

          <div class="form-group">
            <label>Default Duration</label>
            
            <jedi-duration minutes seconds v-model.number="item.defaultDuration" />
          </div>
        </div>

        

        <div class="col-md-8 img-container">
          <div class="img-container-wrap">
            <img :src="item.filepath">
          </div>
        </div>
      </div>

      <jedi-schedule v-model="schedule" dates times days></jedi-schedule>
      
      <button class="btn btn-primary" :class="resultClass" v-on:click.prevent="save">Save
      {{ resultMessage }}</button>

      <button v-if="$route.query.pending" class="btn btn-primary" v-on:click.prevent="saveNext">Save and Go To Next</button>
    </form>
  </div>
</template>

<script>
  module.exports.mounted = async function() {
    await this.reload();
  }

  module.exports.data = () => ({
    item: false,
    error: false,
    schedule: false,
    resultMessage: '',
    resultClass: ''
  })
  
  let methods = module.exports.methods = {};
  
  methods.reload = async function() {
    let info = await this.$http.get('/api/media/' + this.$route.params.id).catch(err => {
      this.error = err.body;
    })

    this.item = info.body.item;
    this.schedule = info.body.defaultSchedule;

    // Forward params
    if (typeof this.$route.query.pending !== 'undefined')
      this.$route.query.pending = true;
  }

  methods.save = async function() {
    this.resultMessage = 'Saving...';
    this.resultClass = 'btn-warning';

    // Post to endpoint
    let result = await this.$http.post('/api/media/' + this.item.id, {
      item: this.item,
      schedule: this.schedule
    })
    
    this.resultMessage = result.body.message;
    this.resultClass = result.body.error ? 'btn-danger' : 'btn-success';
  }

  methods.saveNext = async function() {
    let res = this.$http.get('/api/media/pending');

    await this.save();

    res = await res;

    let ourID = parseInt(this.$route.params.id)
    let next = res.body.filter(i => i.id !== ourID)[0];

    if (next) {
      this.$router.replace('/media/' + next.id + '?pending');
      // Components not automatically reloaded on this navigation, reload
      await this.reload();
      this.resultMessage = '';
      this.resultClass = '';
      this.error = '';
    } else {
      this.$router.push('/media');
    }
  }
</script>

<style lang="less">
  .img-container {
    padding: 1em;
    // Questionable
    //max-height: 16em;
    text-align: center;

    .img-container-wrap {
      position: relative;
      height: 100%;
      width: 100%;
      min-height: 300px;
      text-align: center;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
</style>