<template>
  <div class="container-fluid">
    <h4>Media</h4>
    
    <router-link as="button" class="btn btn-primary" to="/media/pending">
      Upload
      <span v-if="pendingCount">({{ pendingCount }} pending)</span>
    </router-link>
    
    <jedi-dropzone></jedi-dropzone>
    
    <jedi-tree
      @editItem="editItem"
      @createSubFolder="createSubFolder"
      @deleteSubFolder="deleteSubFolder"
      @deleteItem="deleteItem"
      @reparent="onReparent"
      @fileDrop="doUpload"
      v-bind:data="treeData"></jedi-tree>
      
    <!-- Current uploads -->
    <div v-if="uploads.length">
      <h4>Pending uploads</h4>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="upload of uploads">
            <td>{{ upload.name }}</td>
            <td>{{ upload.file.size | sizeify }}</td>
            <td><div class="progress">
              <div class="progress-bar" :class="upload.classList" :style="'width:' + upload.progress + '%'">{{ upload.status || upload.progress + '%' }}</div>
            </div></td>
            <td>
              <router-link as="button" v-if="upload.complete" class="btn btn-outline-primary" :to="'/media/' + upload.id">Finalize</router-link>
              <button v-else :disabled="upload.progress === 100" class="btn btn-warning">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <jedi-help>
      <h4 slot="title">Media List Help</h4>
      
      <h5>This page allows for the following actions:</h5>
      <ul>
        <li>Expanding and collapsing media folders by clicking on them</li>
        <li>Dragging files and folders to different folders to move them</li>
        <li>Dragging files from your desktop/computer to upload them to a folder</li>
      </ul>
      
    </jedi-help>
    
  </div>
</template>

<script>

  module.exports.data = () => ({
    treeData: {folders:{},items:{}},
    uploads: [],
    pendingCount: 0
  });

  module.exports.beforeCreate = async function() {
    

    this.pendingCount = (await this.$http.get('/api/media/pending')).body.length;

    let columns = [
      { key: 'name', header: 'Name', expand: true },
      { key: 'filename', header: 'Original File Name' },
      { special: 'button', header: '', textKey: 'actionText', actionKey: 'action', iconKey: 'actionIcon' },
      { special: 'button', header: 'Delete', text: 'Delete', btnClass: 'btn-danger', icon: 'fa-trash-alt', actionKey: 'deleteAction' }
    ];

    
    
    

    this.treeData = {
      iconKey: 'icon',
      columns,
      folders: false,
      items: false
    }

    await this.reload();
  }

  let methods = module.exports.methods = {
    doHelp() {
      // Highly repetitive code
      $('#help').modal();
    }
  };
  
  methods.reload = async function() {
    
    let {folders, items} = (await this.$http.get('/api/media')).body;
    
    for (let node of Object.values(folders)) {
      Object.assign(node, {
        icon: 'fa-folder',
        actionText: 'New Folder',
        action: 'createSubFolder',
        actionIcon: 'fa-plus-circle',
        deleteAction: 'deleteSubFolder'
      })
    }

    for (let node of Object.values(items)) {
      Object.assign(node, {
        icon: 'fa-file',
        actionText: 'Edit',
        action: 'editItem',
        actionIcon: 'fa-edit',
        deleteAction: 'deleteItem'
      })
    }

    this.treeData.folders = folders;
    this.treeData.items = items;
  }
  
  methods.editItem = function(item) {
    // Go to item
    this.$router.push('/media/' + item.id);
  }
  
  methods.createSubFolder = async function(parent) {
    // XXX hacky hack
    let name = prompt('Enter new folder name');
    //let name = 'foobar';
    
    let result = await this.$http.post('/api/folder/create', {
      parent: parent.id,
      name
    })
    
    // Reload everything
    // XXX This is probably overkill
    await this.reload();
  }
  
  methods.deleteSubFolder = async function(folder) {
    // XXX hacky hack
    let recursive = confirm('Delete subfolders and items too?');
    
    let result = await this.$http.delete('/api/folder/' + folder.id
      // XXX bad hack
      + (recursive ? '/*' : '')
    );
    
    if (result.error) {
      alert(result.message);
    }
    
    await this.reload();
  }
  
  methods.deleteItem = async function(item) {
    let result = await this.$http.delete('/api/media/' + item.id);
    
    if (result.error) {
      alert(result.message);
    }
    
    await this.reload();
  }
  
  methods.onReparent = async function(type, item, newParent) {
    let t = type === 'folder' ? 'folder' : 'media';
    try {
      let res = await this.$http.post('/api/' + t + '/' + item + '/move', {
        to: newParent
      })

      // XXX
      console.log(res.body);
    } catch (e) {
      // TODO
      alert('FAIL');
    }
  }
  
  methods.doUpload = function(file, parent) {
    let data = {
      name: file.name,
      file,
      progress: 0,
      status: false,
      classList: '',
      id: false,
      complete: false
    };
    
    let fd = new FormData();
    fd.append('file', file);
    fd.append('parent', parent);
    let req = new XMLHttpRequest();
    req.open('POST', '/api/media/upload');
    
    
    req.upload.addEventListener('progress', (evt) => {
      //debugger;
      data.progress = (100 * evt.loaded / evt.total).toFixed(1);
    });
    
    req.addEventListener('load', (evt) => {
      let res = JSON.parse(evt.target.response);
      
      if (evt.target.status === 200) {
        // Change cancel to update button
        data.id = res.id;
        data.complete = true;
      } else {
        data.status = res.error;
        data.classList += ' bg-danger';
      }
    });
    
    req.addEventListener('error', (evt) => {
      debugger;
      //data.status = ''
      data.classList += ' bg-danger';
    });
    
    req.addEventListener('abort', (evt) => {
      data.status = 'Aborted';
      data.classList += ' bg-danger';
    });
    
    req.send(fd);

    this.uploads.push(data);
  }
  
  // Just some utilities
  
  let filters = module.exports.filters = {};
  
  filters.sizeify = function(value) {
    // Since JS bitwise things are int32, GB is a little useless
    if (value >> 30) return (value >> 30) + ' GB';
    if (value >> 20) return (value >> 20) + ' MB';
    if (value >> 10) return (value >> 10) + ' kB';
    return value + ' bytes';
  }
  
  
  
</script>