<template>
  <div class="container-fluid">
    <jedi-dropzone @file="doUpload"></jedi-dropzone>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Destination</th>
          <th>Finalize</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item of pending">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.destination }}</td>
          <td>
            <router-link as="button" v-if="item.id" class="btn btn-outline-primary" :to="'/media/' + item.id + '?pending'">Finalize</router-link>
            <div v-else class="progress">
              <div class="progress-bar" :style="'width:' + item.progress + '%'">
                {{ item.progress }}%
              </div>
            </div>
          </td>
          <td>
            <button v-if="item.id" class="btn btn-outline-danger" v-on:click="deleteItem(item)">Delete</button>
            <button v-else class="btn btn-outline-warning" v-on:click="cancelItem(item)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" v-on:click="uploadPrompt">
      <i class="fas fa-upload"></i>
      Select Files
      <input
        type="file"
        style="display:none"
        multiple
        ref="uploadInput"
        v-on:change="handleUploadInput"
      >
    </button>
  </div>
</template>

<script>
  let methods = module.exports.methods = {};
  
  methods.uploadPrompt = function() {
    this.$refs.uploadInput.click();
  }

  methods.handleUploadInput = function(evt) {
    let files = evt.target.files;
    for (let file of files) {
      this.doUpload(file);
    }
    evt.target.value = '';
  }

  methods.doUpload = function(file) {
    let data = {
      id: '',
      name: file.name,
      file,
      progress: 0,
      status: false,
      destination: 'root',
      classList: ''
    };
    
    let fd = new FormData();
    fd.append('file', file);
    let req = new XMLHttpRequest();
    


    req.upload.addEventListener('progress', (evt) => {
      data.progress = (100 * evt.loaded / evt.total).toFixed(0);
      console.log(data.progress);
    });
    
    req.addEventListener('load', (evt) => {
      let res = JSON.parse(evt.target.response);
      
      if (evt.target.status === 200) {
        data.id = res.id;
      } else {
        data.status = res.error;
        data.classList += ' bg-danger';
      }
    });
    
    req.addEventListener('error', (evt) => {
      debugger;
      //data.status = ''
      data.classList += ' bg-danger';
    });
    
    req.addEventListener('abort', (evt) => {
      data.status = 'Aborted';
      data.classList += ' bg-danger';
    });
    
    req.open('POST', '/api/media/upload');
    req.send(fd);
    
    this.pending.push(data);
  }
  
  methods.deleteItem = async function(item) {
    let result = await this.$http.delete('/api/media/' + item.id);
    
    if (result.ok) {
      // Remove from list
      this.pending.splice(this.pending.indexOf(item), 1);
    } else {
      debugger;
    }
  }
  
  module.exports.created = async function() {
    this.pending = (await this.$http.get('/api/media/pending')).body;
  }
  
  module.exports.data = () => ({
    pending: []
  })
</script>