<template>
  <div id="app">
    <jedi-nav v-on:help="passHelp" :extraButtons="navButtons" @action="navAction"></jedi-nav>
    <router-view ref="view" @navButtons="setNavButtons"></router-view>
  </div>
</template>

<script>
  module.exports.data = () => ({
    navButtons: []
  })

  module.exports.mounted = function() {
    this.$router.beforeEach((to, from, next) => {
      // Reset navButtons for each view
      // Views should emit navButton event on mount
      this.navButtons = [];
      next();
    })
  }

  let methods = module.exports.methods = {};
  
  methods.passHelp = function() {
    // Displaying help is the sole responsibility of the router-view
    // Maybe we should check if they don't though?
    let view = this.$refs.view;
    
    if (view.hasOwnProperty('doHelp')) {
      view.doHelp();
    } else {
      // Display a manual or something?
      alert('No help for this page');
    }
  }
  
  methods.setNavButtons = function(data) {
    this.navButtons = data;
  }
  
  methods.navAction = function(action) {
    let view = this.$refs.view;
    
    if (view.hasOwnProperty(action)) {
      view[action]();
    }
  }
</script>