<template>
  <div>
    <div v-if="hover" class="hilight">
      
    </div>
  </div>
</template>

<script>
  module.exports.data = () => ({
    hover: false,
    
    dragOverEvent: null,
    dragLeaveEvent: null,
    dropEvent: null
  })
  
  module.exports.mounted = function() {
    console.log('mount');
    document.body.addEventListener('dragover',
      this.dragOverEvent = evt => this.dragover(evt));
    document.body.addEventListener('dragleave',
      this.dragLeaveEvent = evt => this.dragleave(evt));
    document.body.addEventListener('drop', 
      this.dropEvent = evt => this.drop(evt));
  }
  
  module.exports.beforeDestroy = function() {
    console.log('destroy');
    document.body.removeEventListener('dragover', this.dragOverEvent);
    document.body.removeEventListener('dragleave', this.dragLeaveEvent);
    document.body.removeEventListener('drop', this.dropEvent);
  }
  
  let methods = module.exports.methods = {};
  
  methods.dragover = function(evt) {
    // Something is dragged over the window
    this.hover = true;
    
    evt.preventDefault();
    evt.stopPropagation();
  }
  
  methods.dragleave = function(evt) {
    // Something is no longer dragged over the window
    this.hover = false;
  }
  
  methods.drop = function(evt) {
    evt.preventDefault();
    
    // Something is dropped in the window
    // Only handle files right now
    let dt = event.dataTransfer;
    
    if (dt.types.includes('Files')) {
      let files = dt.items
        ? Array.from(dt.items).filter(i => i.kind === 'file').map(i => i.getAsFile())
        : dt.files;
        
      for (let file of files) {
        // Upload each file and add to list of pending
        this.$emit('file', file);
      }
    }
    
    // Cleanup
    dt.items ? dt.items.clear() : dt.clearData();
    
    this.hover = false;
  }
</script>

<style lang="less" scoped>
.hilight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  // TODO something better
  background-color: red;
  
  pointer-events: none;
}
</style>