<template>
  <div>
    <div ref="input"></div>
  </div>
</template>

<script>
  module.exports.props = {
    value: Number,  // In seconds
    hours: Boolean,
    minutes: Boolean,
    seconds: Boolean
  }

  module.exports.mounted = function() {
    let el = this.$refs.input;
    
    console.log(this.hours, this.minutes, this.seconds);
    
    let foo = $(el).durationPicker({
      showDays: false,
      showHours: this.hours,
      showMinutes: this.minutes,
      showSeconds: this.seconds,
      
      onChanged: (value, init) => {
        if (init) return;
        
        this.$emit('input', value);
      }
    })
    
    // Fix their things
    let scopeTag = this.$options._scopeId;
    let created = $(el).next().attr(scopeTag, '');
    created.find('*').attr(scopeTag, '');
    
    // Allow scrolling
    created.find('input[type="number"]').bind('mousewheel', (evt) => {
      let delta = evt.originalEvent.deltaY;
      let at = parseInt(evt.target.value);
      let min = parseInt(evt.target.min);
      let max = parseInt(evt.target.max);
      if (delta > 0) {
        $(evt.target).val(Math.max(min, at - 1)).change();
      } else if (delta < 0) {
        $(evt.target).val(Math.min(max, at + 1)).change();
      }
      evt.preventDefault();
    })
    
    // Update value on external change
    this.$watch('value', (newValue) => {
      $(this.$refs.input).data('durationPicker').setValue(newValue);
    })
  }
  
  module.exports.beforeDestroy = function() {
    console.log('ok')
  }
</script>

<style lang="less" scoped>
  // Fixes for bootstrap 4
  
  .hidden {
    display: none;
  }
</style>