<template>
  <div id="help" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <slot name="title">Help</slot>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <slot>
            <p>This page doesn't have any helpful help right now</p>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>