<script>
  let methods = module.exports.methods = {};
  
  module.exports.data = () => ({
    navClass: {
      'bg-dark': true,
      'navbar-dark': true,
      
      'bg-light': false,
      'navbar-light': false
    }
  })
  
  module.exports.props = {
    'extraButtons': Array
  }
  
  methods.toggleDark = function() {
    this.navClass['bg-dark'] = !this.navClass['bg-dark'];
    this.navClass['bg-light'] = !this.navClass['bg-light'];
    
    this.navClass['navbar-dark'] = !this.navClass['navbar-dark'];
    this.navClass['navbar-light'] = !this.navClass['navbar-light'];
  }
  
  methods.triggerHelp = function() {
    this.$emit('help');
  }
  
  methods.emitClick = function(button) {
    this.$emit('action', button.action);
  }
</script>

<template>
  <nav class="navbar navbar-expand-lg sticky-top" v-bind:class="navClass">
    <router-link class="navbar-brand" to="/">JEDi Signage</router-link>
    
    
    
    <div class="collapse navbar-collapse mr-auto" id="nav-main">
      <ul class="navbar-nav mr-auto">
        
        <router-link tag="li" class="nav-item" to="/media">
          <a class="nav-link">Media</a>
        </router-link>
        
        <router-link tag="li" class="nav-item" to="/players">
          <a class="nav-link">Players</a>
        </router-link>
        
        <router-link tag="li" class="nav-item" to="/layouts">
          <a class="nav-link">Layouts</a>
        </router-link>
        
        <router-link tag="li" class="nav-item" to="/users">
          <a class="nav-link">Manage Users</a>
        </router-link>

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        
      </ul>
      
      <!--<form class="form-inline float-right">
        <button class="btn" v-on:click="toggleDark"><i class="fas fa-lightbulb" /></button>
      </form>-->
    </div>
    
    <!-- Right side buttons -->
    <div>
      <!-- Additional buttons -->
      <button v-for="button in extraButtons" class="btn" :class="button.class" v-on:click="emitClick(button)">
        <i v-if="button.icon" class="fas" :class="button.icon"></i>
        {{ button.text }}
      </button>
      
      <!-- Collapser if on a narrow screen -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Help Button -->
      <button class="btn btn-outline-primary" v-on:click="triggerHelp">
        <i class="fas fa-question"></i>
      </button>
    </div>
  </nav>
</template>