<template>
  <div>
    <div v-if="dates">
      <h5 class="mb-2">Date Range</h5>

      <div class="form-inline">
        <label class="col-md-1 col-3">From</label>
        <input class="form-control col-md-3 col-9" type="date" v-model="data.startDate">

        <label class="col-md-1 col-3">To</label>
        <input class="form-control col-md-3 col-9" type="date" v-model="data.endDate">
      </div>
    </div>

    <div v-if="days">
      <h5 class="mb-2">Days of the Week</h5>

      <div class="row">
        <div class="col-5 col-sm-4 col-md-3">
          <div>All Week</div>
          <!--<bootstrap-toggle v-model="allWeekDays"></bootstrap-toggle>-->
          <jedi-toggle v-model="allWeekDays"></jedi-toggle>
        </div>
        
        <div class="col-5 col-sm-4 col-md-3" v-for="(day, index) in dayStrings">
          <div>{{ day }}</div>
          <!--<bootstrap-toggle v-model="daysOfWeek[index]"></bootstrap-toggle>-->
          <jedi-toggle v-model="daysOfWeek[index]"></jedi-toggle>
        </div>
      </div>
    </div>

    <div v-if="times">
      <h5 class="mb-2">Time Range</h5>

      <div class="form-inline">
        <label class="col-md-1 col-3">From</label>
        <input class="form-control col-md-3 col-9" type="time" v-model="data.startTime">

        <label class="col-md-1 col-3">To</label>
        <input class="form-control col-md-3 col-9" type="time" v-model="data.endTime">
      </div>
    </div>
  </div>
</template>

<script>

  let methods = module.exports.methods = {};

  methods.updateValue = function() {
    this.$emit('input', this.data);
  }

  module.exports.props = {
    'value': Object,
    'dates': Boolean,
    'days' : Boolean,
    'times': Boolean
  };

  module.exports.data = () => {
    return {
      data: false,
      daysOfWeek: [false, false, false, false, false, false, false],
      updating: false,
      dayStrings: [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday'
      ]
    }
  }
  
  let computed = module.exports.computed = {};
  
  computed.allWeekDays = {
    get() {
      // Small latch since vue-bootstrap-toggle immediately fires input on model change :S
      this.updating = true;
      this.$nextTick(() => this.updating = false)
      return this.daysOfWeek.every(l => l);
    },
    set(val) {
      if (this.updating) return;

      for (let i = 0; i < 7; i++) {
        this.$set(this.daysOfWeek, i, val);
      }
      
      console.log(this.daysOfWeek);
    }
  }

  // Small util
  function formatDate(d) {
    return [
      d.getFullYear(),
      ('0' + (d.getMonth() + 1)).slice(-2),
      ('0' + d.getDate()).slice(-2)
    ].join('-');
  }

  module.exports.mounted = function() {
    this.data = this.value;

    if (this.data === null || typeof this.data === 'undefined') {
      let today = formatDate(new Date());
      let tomorrow = formatDate(new Date(Date.now() + 24 * 3600 * 1000));
      
      //this.allWeekDays = true;

      this.data = {
        startDate: today,
        endDate: tomorrow,
        startTime: '00:00',
        endTime: '23:59',
        daysOfWeek: 'UMTWRFS'
      }
      
      this.updateValue();
    } else {
      // Unpack days of week
      this.daysOfWeek = Array.from(this.data.daysOfWeek).map(d => d !== ' ');
      // Fix up dates
      this.data.startDate = formatDate(new Date(this.data.startDate));
      this.data.endDate = formatDate(new Date(this.data.endDate));
    }
    
    
    this.$watch('daysOfWeek', (newVal) => {
      this.data.daysOfWeek = Array.from('UMTWRFS')
        .map((l, i) => newVal[i] ? l : ' ').join('');
        
      console.log(this.data.daysOfWeek);
    }, {
      deep: true
    })
    
    this.$watch('data', () => this.updateValue(), {
      deep: true
    })
  }
  
  module.exports.beforeDestroy = function() {
    $(this.$el).find('.toggle.btn').remove();
  }
</script>