<!-- A slightly more minimal toggle -->
<template>
  <div class="toggle btn btn-default" :class="{
    'checked': this.value
  }" @click="toggle">
    <div class="toggle-group">
      <label class="btn btn-primary toggle-on">On</label>
      <label class="btn btn-default toggle-off">Off</label>
      <span class="toggle-handle btn btn-default"></span>
    </div>
  </div>
</template>

<style lang="less" scoped>
  .toggle {
    
    width: 60px;
    height: 36px;
    
    min-width: 59px;
    min-height: 34px;
    overflow: hidden;
    position: relative;
    border-color: rgba(0, 0, 0, .25);
    
    text-align: center;
    
    &:not(.checked) .toggle-group {
      left: -100%;
    }
  
    .toggle-group {
      //background-color: red;
      
      width: 200%;
      top: 0;
      bottom: 0;
      position: absolute;
      left: 0;
      transition: left 0.35s;
      
      
      
      .toggle-on, .toggle-off {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        //padding: 0;
        border-radius: 0;
        vertical-align: middle;
      }
      
      .toggle-on {
        padding-right: 24px;
        left: 0;
        right: 50%
      }
      
      .toggle-off {
        left: 50%;
        right: 0;
        padding-left: 24px;
        
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      }
      
      .toggle-handle {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 0;
        border-width: 0 1px;
        
        background-color: white;
        border: thin rgba(0, 0, 0, .25) solid;
      }
    }
  }
</style>

<script>
  module.exports.props = {
    value: Boolean
  }
  
  let methods = module.exports.methods = {};
  
  methods.toggle = function() {
    this.$emit('input', !this.value);
  }
</script>