<template>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th v-for="column of data.columns">{{ column.header }}</th>
      </tr>
    </thead>
    
    <tbody class="fa-lg">
      <tr
        v-for="item of visibleRows"
        draggable="true"
        v-on:dragstart="onDragStart($event, item)"
        v-on:dragend="onDragEnd($event, item)"
        v-on:dragover="onDragOver($event, item)"
        v-on:dragleave="onDragLeave($event, item)"
        v-on:drop.prevent="onDrop($event, item)"
        v-bind:class="{
          open: item.open,
          leaf: item.leaf,
          hilight: item.id === hilight
        }"
      >
        
        <td v-for="column of data.columns" v-on:click="toggleOpen(item)">
          <template v-if="column.expand">
            <div v-for="i in Math.max(0, item.depth - ordered)" class="expand-block"></div>
            <!-- Reorder buttons -->
            <div v-if="ordered && item.depth > 0" class="expand-block">
              <i
                v-if="item.canGoUp"
                v-on:click.prevent.stop="moveItemUp(item)"
                class="fas fa-caret-up move-arrow"></i>
              <i
                v-if="item.canGoDown"
                v-on:click.prevent.stop="moveItemDown(item)"
                class="fas fa-caret-down move-arrow"></i>
            </div>
            <!-- Extra indent for leaves -->
            <i v-if="item.leaf" class="expand-block fas fa-fw fa-image"></i>
            <div v-else class="expander">
              <i v-show=" item.open" class="fas fa-fw fa-folder-open"></i>
              <i v-show="!item.open" class="fas fa-fw fa-folder     "></i>
            </div>
          </template>
          
          
          
          <template v-if="!column.special">
            {{ item.ref[column.key] | trim(20) }}
          </template>
          <button
            v-else-if="column.special === 'button'"
            class="btn btn-primary action-button"
            v-bind:class="column.btnClass + ' ' + item.ref[column.btnClassKey]"
            v-on:click.stop="buttonPress(column, item)"
            >
            <i
              v-if="column.iconKey || column.icon"
              class="fas fa-fw"
              v-bind:class="item.ref[column.iconKey] || column.icon"></i>
            {{ item.ref[column.textKey] || column.text }}
            
          </button>
          <template v-else>
            ???
          </template>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  
  let methods = module.exports.methods = {};
  
  methods.toggleOpen = function(item) {
    // Open folder, if we are in fact a folder
    if (!item.leaf) {
      if (item.open) {
        item.open = false;
        this.openings.splice(this.openings.indexOf(item.id), 1);
      } else {
        item.open = true;
        this.openings.push(item.id);
      }
    }
  }
  
  methods.buttonPress = function(column, item) {
    // Straightforward
    // Push event to parent
    let action = column.action || item.ref[column.actionKey];
    
    this.$emit(action, item.ref);
  }
  
  // Reorder system
  methods.moveItemUp = function(item) {
    let siblings = this.children[item.ref.parent];
    let at = siblings.indexOf(item.ref);
    let before = at - 1;
    if (at < 0) throw new Error('Bad reorder, already at top')
    this.$emit('swapId', item.id, siblings[before].id);
    this.$nextTick(() => this.flatten());
  }

  methods.moveItemDown = function(item) {
    let siblings = this.children[item.ref.parent];
    let at = siblings.indexOf(item.ref);
    let before = at + 1;
    if (at >= siblings.length) throw new Error('Bad reorder, already at bottom')
    this.$emit('swapId', item.id, siblings[before].id);
  this.$nextTick(() => this.flatten());
  }

  // Drag and drop system
  methods.onDragStart = function(event, item) {
    // When an item is dragged around
    event.dataTransfer.setData('x-application/treenode' + this._uid, item.ref.type + ':' + item.id);
    
    // If specified, attach other data
    if (item.leaf)
      event.dataTransfer.setData(this.itemDatatype, item.id);
    else
      event.dataTransfer.setData(this.folderDatatype, item.id);
  }

  
  
  methods.onDragEnd = function(event, item) {
    // When an item is no longer being dragged around
    if (item.leaf) return true;
  }
  
  methods.onDragOver = function(event, item) {
    // When something is dragged over event.target
    let row = event.target.parentElement;
    row.classList.add('hover');
    
    // Only allow dropping on folders
    if (item.leaf) return true;

    event.dataTransfer.dropEffect = 'move';
    

    event.preventDefault();
    event.stopPropagation();
    return false;
  }
  
  methods.onDragLeave = function(event, item) {
    // When something is dragged somewhere else
    let row = event.target.parentElement;
    row.classList.remove('hover');
  }

  methods.onDrop = function(event, item) {
    let dt = event.dataTransfer;
    
    // Remove styles
    let row = event.target.parentElement;
    row.classList.remove('hover');

    if (dt.types.includes('x-application/treenode' + this._uid) &&
        !this.preventInnerDragging) {

      // Can't put a thing in a leaf
      if (item.leaf) return;

      // Drop time!
      let [type, id] = dt.getData('x-application/treenode' + this._uid).split(':');
      let cat = type === 'folder' ? 'folders' : 'items';
      let draggee = this.data[cat][id];
      let dropdon = this.data.folders[item.id];

      if (cat === 'folders') {
        // Ensure that we are not dragging something to its descendant (or itself)
        let q = dropdon;
        let hit = false;
        while (q) {
          if (q.id === draggee.id) {
            hit = true;
            break;
          }
          q = this.data.folders[q.parent];
        }
        
        
        
        if (hit) {
          alert('Dragging to child');
          return;
        }
      }

      // Just set new parent id
      draggee.parent = dropdon.id;

      // Update everything
      this.flatten();

      // Tell somebody
      // reparent(Item ID, New Parent ID)
      this.$emit('reparent', draggee.type, draggee.id, dropdon.id);
    } else if (dt.types.includes('Files')) {
      // Upload new files
      
      let uploadTo = item.id;
      
      // Do the things
      // Get files array
      let files = dt.items
        ? Array.from(dt.items).filter(i => i.kind === 'file').map(i => i.getAsFile())
        : dt.files;
        
      for (let file of files) {
        // Let our parent know we got a file
        this.$emit('fileDrop', file, item.id);
      }
      
      // Cleanup
      dt.items ? dt.items.clear() : dt.clearData();
    } else {
      // See if anyone else wants it
      this.$emit('item-drop', item.ref, dt);
      this.$nextTick(() => this.flatten());
    }
  }

  methods.flatten = function() {
    // Too soon
    if (!this.data || !this.data.folders) return;
    
    console.log('flat');

    // Flatten our data
    let flat = [];
    
    // XXX hack
    // What if users want a different ordering?
    // It does have its visual advantages though...
    let childSort = (a,b) => ((b.type === 'folder') - (a.type === 'folder')) || a.name.localeCompare(b.name);

    if (this.ordered)
      // Order by NID instead
      childSort = (a, b) => a.id - b.id;

    // Treeify everything
    this.children = {};
    
    // Populate arrays first
    
    for (let folder of Object.values(this.data.folders))
      this.children[folder.id] = [];
    
    for (let folder of Object.values(this.data.folders)) {
      if (folder.parent)
        this.children[folder.parent].push(folder)
    }

    for (let item of Object.values(this.data.items)) {
      if (!this.children[item.parent]) debugger;
      this.children[item.parent].push(item);
    }
    
    let visit = (at, parent = {}, depth = 0, visible = true) => {
    
      let rep = {};
      // Reference data
      rep.ref = at;
      
      // A couple properties that shouldn't change
      rep.id = at.id;
      
      if (this.defaultOpen && !this.seenFolders.includes(at.id)) {
        // Open new folders
        this.openings.push(at.id);
      }
      
      // Add some more info
      rep.depth = depth;
      rep.open = this.openings.includes(at.id);
      rep.leaf = at.type !== 'folder';
      //rep.parent = parent;

      // If we are ordered we need some more info
      let siblings = this.children[parent.id];
      if (this.ordered && siblings) {
        rep.canGoUp = siblings.indexOf(at) > 0;
        rep.canGoDown = siblings.indexOf(at) < siblings.length - 1
      }
      
      let idx = flat.length;
      flat.push(rep);
      
      if (!rep.leaf && this.children[at.id]) {
        for (let child of this.children[at.id].sort(childSort)) {
          visit(child, at, depth + 1, visible && rep.open)
        }
      }
    }
    
    visit(this.data.folders[1]);
    
    this.flat = flat;
    
    // Keep track so we can find new ones
    this.seenFolders = Object.keys(this.data.folders).map(i => parseInt(i));
  }

  

  module.exports.mounted = function() {
    // Default to nothing open

    this.$watch('data', () => this.flatten(), {
      deep: true
    });
  }

  
  
  let computed = module.exports.computed = {};
  
  computed.visibleRows = function() {
    let out = [];
    
    for (let i = 0; i < this.flat.length; i++) {
      let row = this.flat[i];
      out.push(row);
      
      if (!row.leaf && !row.open) {
        // Skip to next thing above
        let mark = row.depth;
        while (i + 1 < this.flat.length && this.flat[i + 1].depth > mark) ++i;
      }
    }
    
    return out;
  }
  
  module.exports.props = {
    'data': Object,
    'folderDatatype': {
      type: String,
      default: 'x-application/treenode'
    },
    itemDatatype: {
      type: String,
      default: 'x-application/treenode'
    },
    preventInnerDragging: {
      // Disallow moving things around inside
      type: Boolean
    },
    // Open folders by default
    defaultOpen: Boolean,
    // Able to rearrange siblings, order by nid instead of name
    ordered: Boolean,
    // Hilight this item
    hilight: Number
  }

  module.exports.data = () => ({
    flat: [],
    uploads: [],
    openings: [1],
    seenFolders: [1],
    parents: {},
    treePointers: {}
  })
  
  let filters = module.exports.filters = {};
  
  filters.trim = function(s, l) {
    if (!s) return '';
	s = s.toString();
    if (s.length < l) return s;
    return s.slice(0, l - 3) + '...';
  }
  
</script>

<style lang="less" scoped>
  .expand-block {
    width: 20px;
    display: inline-block;
    height: 1em;
    position: relative;
  }
  
  .expander {
    width: 24px;
    display: inline-block;
  }
  
  .action-button {
    width: 100%;
  }
  
  tr.hover {
    background-color: red !important;
  }
  
  tr:not(.leaf) {
    cursor: pointer;
  }
  
  // Slightly adjust button height
  .btn-sm {
    padding-top: 0;
    padding-bottom: 0;
  }

  // For ordering
  .move-arrow {
    width: 12px;
    position: absolute;
    cursor: pointer;

    &:hover {
      color: blue;
    }

    &.fa-caret-up {
      right: -2px;
    }

    &.fa-caret-down {
      left: -2px;
    }
  }
  
  tr.hilight {
    background-color: rgba(255, 0, 0, 0.35) !important;
  }
</style>